.hidden {
  display: none;
}

.price {
  font-size: 22px;
  font-weight: bold;
  color: #5c28b5;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 12px;
  margin-top: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccd3e6;
  border-radius: 10px;
}

button {
  background: #5c28b5;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#mensaje {
  margin-top: 15px;
  font-weight: bold;
  color: #263d73;
}